#about-page {
	.section-header {
		@include headers($accent-color--about, $accent-color--about-shadow);
	}
}

.about-info {
	margin: 0 auto;
	padding: 0 $spacing-medium-x;
	position: relative;
	display: grid;
	grid-template: repeat(6, auto) / 7ch auto 1fr; // on mobile

	&-intro {
		grid-area: span 1 / span 3;
		padding: $spacing-normal 0;
	}
	&-date {
		color: $support-color;
		font-weight: 700;
		padding: $spacing-normal 0;
	}
	&-paragraph {
		grid-column: 3 / span 1;
		padding: $spacing-normal $spacing-medium-x;

		&::before {
			@extend %before-styles;
			width: $spacing-medium;
			height: $spacing-medium;
			background-color: $accent-color--contact;
			border-radius: $border-radius-circle;
			left: calc(7ch + 2.5rem); // on mobile
		}
	}

	&::before {
		@extend %before-styles;
		width: $spacing-normal;
		height: 100%;
		background-color: $accent-color--projects;
		grid-area: 2 / 2 / span 5 / span 1;
	}
}

// media query for tablets and desktop devices

@media screen and (min-width: 600px) {
	.about-info {
		max-width: calc(90vw - #{$spacing-medium});
		grid-template: repeat(6, auto) / 13ch auto 1fr;

		&-paragraph::before {
			left: calc(11ch + 4.65rem);
		}
	}
}
