/* HOMEPAGE */

#homepage,
.homepage-section,
.nav-icons,
.icon-container a {
	display: flex;
	justify-content: space-evenly;
}

.letters,
.nav-icons {
	flex-direction: column;
}

// header letters

.homepage-letter {
	font-size: 10rem;
	font-weight: 900;
	position: relative;
	left: -1rem;
	
	&::after {
		position: absolute;
		left: 1rem;
	}
}
.o {
	@include letter($accent-color--about, $accent-color--about-shadow, "O");
}
.l {
	@include letter($accent-color--skills, $accent-color--skills-shadow, "L");
}
.h {
	@include letter($accent-color--projects, $accent-color--projects-shadow, "H");
}
.a {
	@include letter($accent-color--contact, $accent-color--contact-shadow, "A");
}

// navigation icons

.icon-container {
	a {
		height: 10rem;
		align-items: center;
	}
	img {
		max-height: 80%;
		object-fit: contain;
	}
	span {
		display: none;
	}
}

@media screen and (min-width: 750px) {
	@mixin icon-hover($bg-col) {
		&:hover {
			background-color: rgba($bg-col, 20%);
			border-radius: 50%;
		}
	}

	#homepage,
	.icons {
		flex-direction: column;
	}
	.letters,
	.nav-icons {
		flex-direction: row;
	}
	.icon-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		.about-img {
			@include icon-hover($accent-color--about);
		}
		.skills-img {
			@include icon-hover($accent-color--skills);
		}
		.projects-img {
			@include icon-hover($accent-color--projects);
		}
		.contact-img {
			@include icon-hover($accent-color--contact);
		}
		.section-nav-title {
			display: initial;
			text-transform: uppercase;
		}
	}
	
}