@mixin headers($color, $shadow) {
	background-color: $color;
	box-shadow: 0.1rem 0.5rem 0 $shadow;
}

// homepage letters
@mixin letter($color, $shadow, $content) {
	color: $shadow;
	&::after {
		content: $content;
		color: $color;
	}
}
// homepage icons
@mixin hp-icon-hover($bg-col) {
	&:hover {
		background-color: rgba($bg-col, 20%);
		border-radius: 50%;
	}
}

// about page: pseudo-elements
%before-styles {
	content: "";
	display: inline-block;
	position: absolute;
}