@mixin headers($color, $shadow) {
	background-color: $color;
	box-shadow: 0.3rem 0.5rem 0 $shadow;
	text-shadow: -1px 2px 0 $shadow;
}

// HOMEPAGE

// homepage letters
@mixin letter($color, $shadow, $content) {
	color: $shadow;
	&::after {
		content: $content;
		color: $color;
	}
}
// homepage icons
@mixin hp-icon-hover($bg-col) {
	&:hover {
		background-color: rgba($bg-col, 20%);
		border-radius: $border-radius-circle;
	}
}

// ABOUT PAGE

// about page: pseudo-elements

%before-styles {
	content: "";
	display: inline-block;
	position: absolute;
}

// PROJECTS PAGE

@mixin project-card($highlight, $shadow-highlight) {
	border: 1rem solid $highlight;
	a {
		background-color: $highlight;
		&:hover {
			background-color: $shadow-highlight;
		}
	}
	h3 {
		color: $highlight;
	}
}

// CONTACT PAGE

// Mixin for the form inputs and the button
@mixin form-part($bg-color, $ln-height, $fnt-size) {
	background-color: $bg-color;
	padding: $spacing-small;
	border: none;
	border-radius: $border-radius-small;
	box-shadow: none;
	line-height: $ln-height;
	font-family: inherit;
	font-size: $fnt-size;
	transition: $transition;
}
// Mixin for inputs only (incl. <texatarea>)
@mixin only-inputs {
	border: 2px solid $accent-color--skills;

	&::placeholder {
		color: $dimmed-color;
		padding-left: $spacing-small;
	}
	&:active,
	&:focus {
		background-color: $main-light-color;
		&::placeholder {
			color: $dimmed-color;
		}
	}
	&:not(:placeholder-shown) {
		background-color: $accent-color--projects;
		border: 2px solid $accent-color--projects;
		color: $accent-color--contact;
	}
}