#projects-page {
	.section-header {
		@include headers($accent-color--projects, $accent-color--projects-shadow);
	}
}

.projects {
	width: 90%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(6, 75vw);
	overflow-x: scroll;
	gap: 2rem;
	align-items: center;

	&-card {
		padding: 1rem;
		border-radius: $border-radius;
		grid-area: span 1;
		display: flex;
		flex-direction: column;

		&-screenshot {
			width: 100%;
		}
	}
	&-one {
		background-color: $accent-color--about;
	}
	&-two {
		background-color: $accent-color--skills;
	}
	&-three {
		background-color: $support-color;
	}
	&-four {
		background-color: $accent-color--contact;
	}
	&-five {
		background-color: $outline-color;
	}
	&-six {
		background-color: $accent-color--projects;
	}
}

// media query for tablets and desktop devices

@media screen and (min-width: 600px) {
	.projects {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		justify-content: center;
	}
}
@media screen and (min-width: 1000px) {
	.projects {
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	}
}