#projects-page {
	.section-header {
		@include headers($accent-color--projects, $accent-color--projects-shadow);
	}
}

.projects {
	width: 90vw;
	margin: 2rem auto;
	display: grid;
	grid-template-columns: repeat(6, 80vw);
	overflow-x: scroll;
	gap: 4rem 2rem;
	align-content: center;

	&-card {
		padding: 1rem;
		border-radius: $border-radius;
		grid-area: span 1;
		display: flex;
		flex-direction: column;
		transition: 0.3s;

		&-screenshot {
			width: 100%;
			border-top-left-radius: $border-radius-small;
			border-top-right-radius: $border-radius-small;
		}
		&-text {
			padding: 1rem;
			border-bottom-left-radius: $border-radius-small;
			border-bottom-right-radius: $border-radius-small;
			color: rgba($main-dark-color, 0.8);
			font-size: 85%;
			font-weight: 300;

			span {
				background-color: rgba($main-dark-color, 0.8);
				color: $main-light-color;
				padding: 0 0.3rem;
			}
		}

		&:hover {
			transform: scale(1.05);
		}
	}
	&-one {
		background-color: $accent-color--about;
	}
	&-two {
		background-color: $accent-color--skills;
	}
	&-three {
		background-color: $support-color;
	}
	&-four {
		background-color: $accent-color--contact;
	}
	&-five {
		background-color: $outline-color;
	}
	&-six {
		background-color: $accent-color--projects;
	}
}

// media query for tablets and desktop devices

@media screen and (min-width: 600px) {
	.projects {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		justify-content: center;
	}
}
@media screen and (min-width: 1000px) {
	.projects {
		grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	}
}