$main-dark-color: #19181A;
$main-light-color: #fdfef2;

$accent-color--about: #56BAEC;
$accent-color--about-shadow: #2e97cc;

$accent-color--skills: #9E85CF;
$accent-color--skills-shadow: #7f62bb;

$accent-color--projects: #D56C33;
$accent-color--projects-shadow: #c5561a;

$accent-color--contact: #E7D969;
$accent-color--contact-shadow: #c4b335;

$outline-color: #77ADA5;
$support-color: #F2B1CE;

$dimmed-color: #b9b9c4;

$border-radius: 1rem;
$border-radius-small: 0.5rem;