@use "mixins_placeholders";
@use "variables";

/* HOMEPAGE */

#homepage,
.homepage-section,
.nav-icons,
.icon-container a {
	display: grid;
}

#homepage {
	height: 100vh;
	padding: variables.$spacing-large 0;
	grid-template: 1fr / repeat(2, 1fr);
	justify-items: center;
}
.homepage-section {
	padding: variables.$spacing-normal 0;
}

.letters,
.nav-icons {
	grid-template: repeat(4, 1fr) / 1fr;
	align-items: center;
}

// header letters

.letters {
	margin-left: variables.$spacing-medium;
}
.homepage-letter {
	font-family: variables.$homepage-display-font;
	font-size: 12rem;
	font-weight: 900;
	line-height: 1;
	position: relative;
	
	&::after {
		position: absolute;
		left: variables.$spacing-normal;
	}
}
.o {
	@include mixins_placeholders.letter(variables.$accent-color--about, variables.$accent-color--about-shadow, "O");
}
.l {
	@include mixins_placeholders.letter(variables.$accent-color--skills, variables.$accent-color--skills-shadow, "L");
}
.h {
	@include mixins_placeholders.letter(variables.$accent-color--projects, variables.$accent-color--projects-shadow, "H");
}
.a {
	@include mixins_placeholders.letter(variables.$accent-color--contact, variables.$accent-color--contact-shadow, "A");
}

// navigation icons
.icons {
	margin-right: variables.$spacing-medium;
}
.icon-container {
	margin-top: variables.$spacing-small;

	img {
		max-height: 9rem;
		object-fit: contain;
	}
	span {
		display: none;
	}
}

@media screen and (min-width: 550px) {

	#homepage {
		grid-template: repeat(2, 1fr) / 1fr;
	}
	
	%four-columns {
		grid-template: 1fr / repeat(4, 13rem);
		justify-items: center;
	}
	.homepage-letter {
		left: -(variables.$spacing-small);
	}
	.letters {
		@extend %four-columns;
		align-items: end;
		margin-left: 0;
	}
	.icons {
		margin-right: 0;
	}
	.nav-icons {
		@extend %four-columns;
		align-items: start;
	}
	.icon-container a {
		display: flex;
		flex-direction: column;
		align-items: center;

		img {
			border-radius: variables.$border-radius-circle;
		}

		.about-img {
			@include mixins_placeholders.hp-icon-hover(variables.$accent-color--about);
		}
		.skills-img {
			@include mixins_placeholders.hp-icon-hover(variables.$accent-color--skills);
		}
		.projects-img {
			@include mixins_placeholders.hp-icon-hover(variables.$accent-color--projects);
		}
		.contact-img {
			@include mixins_placeholders.hp-icon-hover(variables.$accent-color--contact);
		}
	}
}

@media screen and (max-height: 400px) {
	#homepage {
		padding: 0;
	}
}
@media screen and (min-width: 550px) and (min-height: 400px) {

	.icon-container a {
		
		.section-nav-title {
			display: initial;
			padding: variables.$spacing-normal 0 0;
			text-transform: uppercase;
		}
	}
	
}