@import "reset",
"functional",
"variables",
"mixins-&-placeholders",
"homepage",
"about",
"skills",
"projects",
"contact";

body {
	background-color: $main-dark-color;
	color: $main-light-color;
	font-family: $body-font;
	font-weight: 300;
}

section.page {
	min-height: 90vh;
	padding-bottom: 3rem;
	display: grid;
    grid-template-rows: auto 1fr auto;
}

.section-header {
	width: calc(90% - 2rem);
	margin: 2rem auto;
	transform: skewX(-20deg);
	border-radius: $border-radius;

	h2 {
		padding: 2rem 3rem;
		font-size: 3rem;
		font-family: $main-headings-font;
		font-weight: normal;
		text-transform: uppercase;
		transform: skewX(20deg);
	}
}

*:focus {
	outline: 2px solid $dimmed-color;
}


// .sticky-nav {
// 	position: sticky;
// 	top: 50vh;
// 	margin-left: calc(100vw - 6ch);
// 	display: flex;
// 	justify-items: center;
// 	align-items: center;
// 	text-align: center;
// 	vertical-align: middle;

// 	a {
// 		padding: $spacing-normal;
// 		background-color: $accent-color--skills;
// 		font-family: $homepage-display-font;
// 		color: $main-light-color;
// 		border: 2px solid $accent-color--contact;
// 		border-radius: $border-radius-small;
// 	}
// }