#skills-page {
	.section-header {
		@include headers($accent-color--skills, $accent-color--skills-shadow);
	}

	section {
		margin: 0 auto;
		width: calc(90vw - #{$spacing-medium});

		h3 {
			text-align: center;
			margin: $spacing-medium 0;
			font-family: $headings-font;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}
}

.web-dev {

	&-skills {
		height: calc(90vw - #{$spacing-medium});
		padding: $spacing-medium;
		display: grid;
		grid-template: repeat(5, 1fr) /repeat(5, 1fr);
		align-items: center;
		justify-items: center;
		gap: $spacing-small;
		
		.mat-ui {
			grid-area: 2 / 1 / span 1 / 2;
		}
		.html {
			grid-area: 2 / 3 / span 2 / 4;
		}
		.css {
			grid-area: 2 / 4 / span 2 / 5;
		}
		.bootstrap {
			grid-area: 1 / 3 / span 1 / 4;
		}
		.sass {
			grid-area: 2 / 5 / span 1 / -1;
		}
		.javascript {
			grid-area: 2 / 2 / span 2 / 3;
		}
		.react {
			grid-area: 3 / 1 / span 1 / 2;
		}
		.jquery {
			grid-area: 4 / 2 / span 1 / 3;
		}
		.python {
			grid-area: 5 / 1 / span 1 / 2;
		}
		.flask {
			grid-area: 5 / 2 / span 1 / 3;

			.web-dev-skill-icon {
				padding: $spacing-small;
			}
		}
		.git {
			grid-area: 4 / 4 / span 1 / 5;
		}
		.github {
			grid-area: 5 / 4 / span 1 / 5;
		}
		.cli {
			grid-area: 4 / 5 / span 1 / -1;
		}
	}
	
	&-skill {
		border-radius: $border-radius;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $main-light-color;
		transition: $transition;
		
		&-icon {
			max-width: 8vw;
			object-fit: cover;
		}

		&:hover {
			transform: rotate($rotate);
		}
	}

	
}

.other {
	&-skills {
		padding: $spacing-medium;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	&-skill {
		width: 13vw;
		display: flex;
		justify-content: center;
		transition: $transition;

		&-icon {
			width: 90%;
			height: 100%;
		}

		&:hover {
			transform: rotate(-$rotate);
		}
	}
}

// media query for tablets and desktop devices

@media screen and (min-width: 600px) {
	// web-dev grid takes 80%
	#skills-page {
		section {
			width: 70vw;
		}
	}
	.web-dev {
		&-skills {
			height: calc(70vw - #{$spacing-medium});
		}
		&-skill-icon {
			max-width: 70%;
		}
	}
}
@media screen and (min-width: 1000px) {
	#skills-page {
		section {
			max-width: 60rem;
		}
	}
	.web-dev {
		&-skills {
			max-height: 60rem;
			gap: $spacing-normal;
		}
		&-skill-icon {
			max-width: 7rem;
		}
	}
}